body {
    background-color: #005a91;
}

#name-and-number {
    font-size: 21pt;
}

#container {
    width: 100%;
    height: auto;
    text-align: center;
}

#pokemon-desc {
    font-style: italic;
    width: 30%;
    margin: auto;
    padding-top: 10px;
}

#pokemon-logo-img {
    width: 25%;
    height: auto;
}

#pokemon-img {
    width: 20%;
}

.pokemon-img-large {
    width: 40% !important;
}

.white-text {
    color: white;
}

.pokemon-font {
    font-family: Roboto;
    font-size: 40pt !important;
    color: #FFCC01;
    font-weight: bold;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #2872B9;
    text-shadow: 4px 4px #17285E;
}
.pokemon-name-hyperlink {
    text-decoration: none;
}

.pokemon-name-hyperlink:hover {
    text-decoration: underline;
}

.pokemon-image-small {
    opacity: 50%;
    height: 35%;
    width: auto;
}

#goal-date {
    width: 25%;
    height: 50px;
    font-size: 15pt;
}

#store-date-button {
    width: 25%;
    height: 50px;
    margin-top: 15px;
    font-size: 15pt;
}

#footer {
    text-align: center;
    margin-top: 100px;
    color: white;
}

#footer a {
    color: white;
}